<div class="container">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Member Since</th>
    </thead>
    <tbody>
      <% resources.each do |r| %>
        <tr>
          <td><%= link_to r.id, {controller: controller, action: 'show', id: r.id} %></td>
          <td><%= r.name %></td>
          <td><%= Time.parse(r.created_at.to_s).strftime("%a %b %e %Y %l:%M%P") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate resources %>